In [1]:
# Q1. Create one variable containing following type of data:
# (i) string
# (ii) list
# (iii) float
# (iv) tuple

name="Lakshya"
lst=[1, 2, 4, "lakshya", 5]
flo_num= 11.56
tup=("Lakshya", "Singh", 2)
print(type(name), name)
print(type(lst), lst)
print(type(flo_num), flo_num)
print(type(tup), tup)

<class 'str'> Lakshya
<class 'list'> [1, 2, 4, 'lakshya', 5]
<class 'float'> 11.56
<class 'tuple'> ('Lakshya', 'Singh', 2)

In [2]:
# Q2. Given are some following variables containing data:
# (i) var1 = ‘ ‘
# (ii) var2 = ‘[ DS , ML , Python]’
# (iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
# (iv) var4 = 1.

# What will be the data type of the above given variable.


var1 =' '
var2 ='[ DS, ML, Python]'
var3 = [ 'DS' , 'ML' , 'Python' ]
var4 = 1
print(type(var1), var1)
print(type(var2), var2)
print(type(var3), var3)
print(type(var4), var4)

<class 'str'>
<class 'str'> [ DS, ML, Python]
<class 'list'> ['DS', 'ML', 'Python']
<class 'int'> 1

In [5]:
# Q3. Explain the use of the following operators using an example:
# (i) /
# (ii) %
# (iii) //
# (iv) **

# / Division operator
A=int(input("enter the first number"))
B=int(input("enter the second number"))
div= A/B
print("Division of A and B=",div)
# % Modules operator
mod= A%B
print("Modules of A and B=",mod)
# // Floor division operator
F_div= A//B
print("Floor division of A and B=", F_div)
# ** Exponentiation operator
expo= A**B
print("Exponentiation of A and B=", expo)

enter the first number 12
enter the second number 2

Division of A and B= 6.0
Modules of A and B= 0
Floor division of A and B= 6
Exponentiation of A and B= 144

In [7]:
# Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
# element and its data type.

lst =[1, 2, "Lakshya", [1, 2], ("lakshya", "Singh"), {"apple", "banana", "cherry"}]
for i in lst:
    print(i, type(i))

1 <class 'int'>
2 <class 'int'>
Lakshya <class 'str'>
[1, 2] <class 'list'>
('lakshya', 'Singh') <class 'tuple'>
{'banana', 'cherry', 'apple'} <class 'set'>

In [16]:
#Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
# times it can be divisible.

A= int(input("Enter first numbere"))
B= int(input("Enter second number"))
count=0
while True:
    if(A % B == 0):
        A = A / B
        count = count + 1
    else:
        print(count ,"Times purely divisible")
        break

Enter first numbere 12
Enter second number 4

1 Times purely divisible

In [18]:
#Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
# divisible by 3 or not.

lst= list(range(25))
for i in lst:
    if i % 3 == 0:
        print(i , "is divisible by 3")
    else:
        print(i , "is not divisible by 3")

0 is divisible by 3
1 is not divisible by 3
2 is not divisible by 3
3 is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisible by 3
10 is not divisible by 3
11 is not divisible by 3
12 is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisible by 3

In [23]:
# Q7. What do you understand about mutable and immutable data types? Give examples for both showing
# this property.

# mutable datatype - Mutable datatypes are those that allow you to change their value after its creation(modification in thier values).
# example of mutable datatype -> list , set , dictionary
lst4=["Lakshya" , "Singh"]
print(lst4)
lst4[
print(lst4 , "\n")

# Imutable datatype - An object whose internal state cannot be changed is called immutable. Their values cannot be modified after its creation.
# for example a number, a string, and a tuple. .

str1="DataScience"
print(str1)

# below two code through error due to imutable nature of string
#str1[2]="d"
#print(str1)

['Lakshya', 'Singh']

IndexError: list assignment index out of range